<form action='/posts/<%=@post.id%>' method="POST">
  <label>Name: </label><input type="text" value="<%=@post.name%>" name="name"/><br>
  <label>Content: </label><input type="text" value="<%=@post.content%>" name="content"/><br>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p><input type="submit" id="submit" content="submit"></p>
</form>