<form action="/posts" method="post">
  <label for="name" >Name: </label>
  <input type="text" name="name" id="name"><br><br>

  <label for="content" >Content: </label>
  <textarea type="text" name="content" id="content"></textarea><br>

  <button type="submit" value="submit">Submit</button>

</form>